<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>
        Find your best food
      </h2>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-md-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, architecto!
          <hr>
        </div>
        <div class="col-md-4">
          Necessitatibus esse consectetur mollitia ipsam fugiat suscipit deserunt pariatur vitae.
          <hr>
        </div>
        <div class="col-md-4">
          Perspiciatis repudiandae nisi, illum adipisci qui recusandae quam fugit accusantium?
          <hr>
        </div>
        <div class="col-md-4">
          Corrupti ipsa optio enim reiciendis expedita magni distinctio mollitia doloribus?
          <hr>
        </div>
        <div class="col-md-4">
          Explicabo mollitia commodi accusamus dolorem architecto! Magnam provident veritatis totam.
          <hr>
        </div>
        <div class="col-md-4">
          Tempora ipsa voluptatum sunt. Repellendus assumenda sit unde vero aliquam?
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
